<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DomiLab</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/global.css">

    <!-- page-specific styles -->
    <link rel="stylesheet" href="/static/alpha.css">
</head>
<body>
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light h-100" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img width="32" height="32" src="/static/favicon.ico" alt="" srcset="">
            <span class="ms-2 b-2 fs-4">DomiLab</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/interactive-alpha" class="nav-link active" aria-current="page">
                    <i class="bi bi-arrow-left-right me-2"></i>
                    Interactive Alpha
                </a>
            </li>
            <li>
                <a href="/network-attack" class="nav-link link-dark">
                    <i class="bi bi-dice-5 me-2"></i>
                    Network Attacks
                </a>
            </li>
            <li>
                <a href="/arc-diagram" class="nav-link link-dark">
                    <i class="bi bi-rainbow me-2"></i>
                    Network Arc Diagram
                </a>
            </li>
        </ul>
        <hr>
        <small class="text-muted">
            Technology Innovation Institute,<br>
            Directed Energy Research Center, 2023.
        </small>
    </div>

    

    <div class="d-flex flex-column align-items-start w-100">

        <!--  -->
        <div class="display-6 text-center w-100" id="introMessage">
            Experiment with a <strong>Network</strong> here in your browser.<br>
            Don't worry. You can't break it. We promise.
        </div>

        <!--  -->
        <div class="shadow-sm p-3 w-100" id="toolsBar">
            <div class="row">
                <div class="col">
                    <label class="form-label">Choose a centrality</label>
                    <select class="form-select" id="selectCentrality">
                        <!-- <option value="" selected>Make a selection</option> -->
                        <!-- autofills -->
                    </select>
                </div>
                <div class="col">
                    <label class="form-label">Choose a network</label>
                    <select class="form-select" id="selectGraph">
                        <!-- <option value="" selected>Make a selection</option> -->
                        <!-- autofills -->
                    </select>
                </div>
                <div class="col">
                    <label for="inputAlpha" class="form-label mb-3">Change the value of Alpha</label>
                    <div class="d-flex flex-row">
                        <input type="range" class="form-range" min="1" max="100" step="1" id="inputAlpha">
                        <strong class="text-muted ms-3" id="inputAlphaValue"></strong>
                    </div>
                </div>
            </div>
        </div>

        <!--  -->
        <div class="h-100 w-100" id="graphContainer"></div>

    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/static/utils.js"></script>
    <script src="/static/global.js"></script>

    <!-- page specific scripts -->
    <script src="/static/disjoint-force-directed.js"></script>
    <script src="/static/alpha.js"></script>
</body>
</html>